<h1>Pairbnb Homepage</h1>

<% if current_user %>
<h2> Welcome <%= link_to User.find(current_user.id).name, root_path %> </h2>
<p><%= image_tag current_user.avatar.thumb.to_s %></p>
<% end %>


<div> <%= link_to "All Listings", listings_path%></div>
<% if current_user %>
<div> <%= link_to "Edit Profile", edit_user_path(current_user.id) %> </div>
<% end %>


